.preguntaFrecuente{
    text-align: center;
    color:#fff;
    text-decoration: underline;
    font-family: serif;
    height: 20px;
    font-size: 40px;
}
.textosF{
    color: #fff;
    margin-left: 5px;
}
.preguntas{
    color: #fff;
    margin-left: 5px;
}