@import "repositorio";
@import "navbarLogo";
@import "video-mapa";
@import "productos";
@import "registro";
@import "preguntasFrecuentes";
@import "politicas";

$colores:(
    primario: rgb(233, 14, 14)
    secundario: rgb(35, 224, 17)
    terciario: rgb(17, 137, 235)
);

$btn:(
    padding: 10px 15px,
    border: 0px,
    radio: 0px,
);

@mixin propiedades($ancho, $alto, $colorLetra){
    width: $ancho;
    height: $alto;
    color: $colorLetra;
}

.btn{
    padding: map-get($btn , padding);
    border: map-get($btn , border);
    border-radius:map-get($btn , radio);
    @include propiedades(100px, auto, #000)
}
@each $key , $var in $colores{
    .btn-#{key}{ 
        @extend .btn;
        background-color: $var;
        }
}