.video {
    padding-top: 10px;
    margin-left: 10px;
    display: flex;
}

.ropaProductos h3 {
    text-align: center;
    font-family: serif;
}

.contenedorProducto {
    display: flex;
    justify-content: center;
    padding: 40px;
    font-family: serif;
    font-weight: 30px;
}

.cajaProducto {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 10px;
}

.cajaProducto img {
    width: 295px;
    padding: 6px;
}

.textoMC {
    margin-left: 35px;
}

.ropaTC {
    color: #ab2480;
    text-decoration: underline;
    height: 20px;
    font-size: 40px;
}

.btn, .btn-key {
    padding: 10px 15px;
    border: 0px;
    border-radius: 0px;
}

.btn-key {
    background-color: rgb(235, 16, 16);
}

.btn-key {
    background-color: rgb(13, 182, 7);
}

.btn-key {
    background-color: rgb(19, 216, 190)
};